<a href="https://colab.research.google.com/github/Multik838/-Data-analysis-algorithms/blob/main/%D0%9F%D0%BE%D0%B4%D0%B3%D0%BE%D1%82%D0%BE%D0%B2%D0%BA%D0%B0_%D0%BA_%D1%83%D1%80%D0%BE%D0%BA%D1%83_4_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# Просмотрен весь ноутбук
# Загружены Train и Test
# Добавлен импорт import pyspark.sql.functions as F и переписана запись my_awesome_col = F.struct(F.col("id")).alias("foo")
# #df.dropDuplicates(subset=["battery_power", "dual_sim"]).show()

#df.show() # Нам показывает, что в тек. датафрейме остался один столбец ID.
# +---+
# | id|
# +---+
# |  0|
# |  1|
# |  2|
# |  3|
# |  4|
# |  5|
# |  6|
# |  7|
# |  8|
# |  9|
# +---+

#Поэтому перезапрашиваем df = spark.read.csv('train.csv', header=True, inferSchema=True), Либо JOIN 
#Drop Duplicates отработает

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 62.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=971e9f1e53c87e62b378864679fb0e91776158d61a3ff527e707a87869561ed0
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark.sql import SparkSession


spark = SparkSession.builder\
        .master('local[4]')\
        .appName('Lesson_2')\
        .config('spark.ui.port', '4050')\
        .config('spark.executor.instances', 2)\
        .config('spark.executor.memory', f'{int(6000/1.1)}mb')\
        .config('spark.executor.cores', 2)\
        .getOrCreate()

sc = spark.sparkContext

In [3]:
spark

## Ядро Spark `RDD`:
  - Ядром Spark является абстракция данных под названием Resilient Distributed Datasets, которые являются отказоустойчивыми распределенными наборами данных
  - RDD являются статически типизированными, распределенными колекциями с отложенным вычислением
  - Наборы RDD реализованы в Spark как неизменяемые, так что преобразование объекта RDD возвращает новый объект, а не уже существующий.
  - Имеют предопределенные высокоуровневые преобразования (aka map, join, reduce) 
  - Функции записи данных между распределенной системой хранения и JVM Spark
  
## Ленивые вычисления:
  - Spark вычисляет RDD отложенным образом, рассчитывая результат преобразований набора только в момент, когда становятся необходимы итоговые данные RDD
  - Spark умеет хранить RDD в оперативной памяти Worker-ов во время всего времени жизни приложения Spark ради ускорения доступа при повторяемых вычислениях
  - **`Отложенные вычисления`** + **`хранения данных в оперативной памяти`** + **`неизменяемость объектов`** == **`эффективность`** + **`отказоустойчивость`** + **`масштабируемость`**

# DataFrame

## Сравнение RDD API и DataFrame API 

### Типы данных
**`RDD`**: низкоуревная распределенная коллекция данных любого типа  
**`DF`**: таблица со схемой, состоящей из колонок разных типов, описанных в `org.apache.spark.sql.types`  

### Обработка данных
**`RDD`**: сериализуемые функции  
**`DF`**: кодогенерация SQL > Java код  

### Функции и алгоритмы
**`RDD`**: нет ограничений  
**`DF`**: ограничен SQL операторами, функциями `org.apache.spark.sql.functions` и пользовательскими функциями  

### Источники данных 
**`RDD`**: каждый источник имеет свое API  
**`DF`**: единое API для всех источников 

### Производительность
**`RDD`**: напрямую зависит от качества кода   
**`DF`**: встроенные механизмы оптимизации SQL запроса   

### Потоковая обработка данных
**`RDD`**: устаревший DStreams   
**`DF`**: активно развивающийся Structured Streaming

## Структура джобы Spark

+ Spark **«ничего не делает»** до тех пор, пока драйверная программа не вызовет действие
+ При каждом вызове действия планировщик Spark строит DAG выполнения и запускает задание Spark (Spark job)
+ Джоба Spark состоит из этапов, представляющих собой шаги преобразования данных, необходимые для формирования итогового набора RDD.
+ Этап состоит из набора tasks, каждая из которых означает параллельное вычисление, выполняемое на исполнителе.

## Dataframe API

**Dataframe:**
+ структурированная колоночная структура данных
+ может быть создана на основе:
  - локальной коллекции
  - файла (файлов)
  - базы данных
+ в python работает значительно быстрее, чем RDD
+ под капотом использует RDD
+ позволяет выполнять произвольные SQL операции с данными
+ аналогично RDD являются ленивыми и неизменяеыми

## Из чего состоит Dataframe
+ схема [pyspsark.sql.StructType](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.types.StructType)
+ колонки [pyspark.sql.Column](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column)
+ данные [pyspark.sql.Row](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Row)

## Структура джобы Spark

+ Spark **«ничего не делает»** до тех пор, пока драйверная программа не вызовет действие
+ При каждом вызове действия планировщик Spark строит DAG выполнения и запускает задание Spark (Spark job)
+ Джоба Spark состоит из этапов, представляющих собой шаги преобразования данных, необходимые для формирования итогового набора RDD.
+ Этап состоит из набора tasks, каждая из которых означает параллельное вычисление, выполняемое на исполнителе.

In [5]:
# Данные те же, что и в дз
df = spark.read.csv('train.csv', header=True, inferSchema=True)

In [6]:
# посмотреть схему датафрейма (колонки и их типы)
# cхема может быть сложной, колонка может иметь массив и количество вложенности никак не лимитировано 
df.printSchema()

root
 |-- battery_power: integer (nullable = true)
 |-- blue: integer (nullable = true)
 |-- clock_speed: double (nullable = true)
 |-- dual_sim: integer (nullable = true)
 |-- fc: integer (nullable = true)
 |-- four_g: integer (nullable = true)
 |-- int_memory: integer (nullable = true)
 |-- m_dep: double (nullable = true)
 |-- mobile_wt: integer (nullable = true)
 |-- n_cores: integer (nullable = true)
 |-- pc: integer (nullable = true)
 |-- px_height: integer (nullable = true)
 |-- px_width: integer (nullable = true)
 |-- ram: integer (nullable = true)
 |-- sc_h: integer (nullable = true)
 |-- sc_w: integer (nullable = true)
 |-- talk_time: integer (nullable = true)
 |-- three_g: integer (nullable = true)
 |-- touch_screen: integer (nullable = true)
 |-- wifi: integer (nullable = true)
 |-- price_range: integer (nullable = true)

In [7]:
# select - выбрать несколько столбцов для вывода в консоль драйвера
df.select("battery_power", "blue").show(10, False)

# Когда вы выбираете несколько столбцов из исходного датафрейма, вы не мутируете их, а создаете новый в памяти
# DF и RDD неизменяемые типы данных
df.show()

+-------------+----+
|battery_power|blue|
+-------------+----+
|842          |0   |
|1021         |1   |
|563          |1   |
|615          |1   |
|1821         |1   |
|1859         |0   |
|1821         |0   |
|1954         |0   |
|1445         |1   |
|509          |1   |
+-------------+----+
only showing top 10 rows

+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|price_range|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|          842|   0|        2.2|       0|  1|     0|         7|  0.6|      188|      2|  2|       20|     756|2549|   9|   7|       19|      0|           0|   1|          1|
|         1021|   1|        0.5|       1|  0|     1|        53|  0.7|      136|      3|  6|      905|    1988|2631|  17|   3|        7|      1|           1|   0|          2|
|          563|   1|        0.5|       1|  2|     1|        41|  0.9|      145|      5|  6|     1263|    1716|2603|  11|   2|        9|      1|           1|   0|          2|
|          615|   1|        2.5|       0|  0|     0|        10|  0.8|      131|      6|  9|     1216|    1786|2769|  16|   8|       11|      1|           0|   0|          2|
|         1821|   1|        1.2|       0| 13|     1|        44|  0.6|      141|      2| 14|     1208|    1212|1411|   8|   2|       15|      1|           1|   0|          1|
|         1859|   0|        0.5|       1|  3|     0|        22|  0.7|      164|      1|  7|     1004|    1654|1067|  17|   1|       10|      1|           0|   0|          1|
|         1821|   0|        1.7|       0|  4|     1|        10|  0.8|      139|      8| 10|      381|    1018|3220|  13|   8|       18|      1|           0|   1|          3|
|         1954|   0|        0.5|       1|  0|     0|        24|  0.8|      187|      4|  0|      512|    1149| 700|  16|   3|        5|      1|           1|   1|          0|
|         1445|   1|        0.5|       0|  0|     0|        53|  0.7|      174|      7| 14|      386|     836|1099|  17|   1|       20|      1|           0|   0|          0|
|          509|   1|        0.6|       1|  2|     1|         9|  0.1|       93|      5| 15|     1137|    1224| 513|  19|  10|       12|      1|           0|   0|          0|
|          769|   1|        2.9|       1|  0|     0|         9|  0.1|      182|      5|  1|      248|     874|3946|   5|   2|        7|      0|           0|   0|          3|
|         1520|   1|        2.2|       0|  5|     1|        33|  0.5|      177|      8| 18|      151|    1005|3826|  14|   9|       13|      1|           1|   1|          3|
|         1815|   0|        2.8|       0|  2|     0|        33|  0.6|      159|      4| 17|      607|     748|1482|  18|   0|        2|      1|           0|   0|          1|
|          803|   1|        2.1|       0|  7|     0|        17|  1.0|      198|      4| 11|      344|    1440|2680|   7|   1|        4|      1|           0|   1|          2|
|         1866|   0|        0.5|       0| 13|     1|        52|  0.7|      185|      1| 17|      356|     563| 373|  14|   9|        3|      1|           0|   1|          0|
|          775|   0|        1.0|       0|  3|     0|        46|  0.7|      159|      2| 16|      862|    1864| 568|  17|  15|       11|      1|           1|   1|          0|
|          838|   0|        0.5|       0|  1|     1|        13|  0.1|      196|      8|  4|      984|    1850|3554|  10|   9|       19|      1|           0|   1|          3|
|          595|   0|        0.9|       1|  7|     1|        23|  0.1|      121|      3| 17|      441|     810|3752|  10|   2|       18|      1|           1|   0|          3|
|         1131|   1|        0.5|       1| 11|     0|        49|  0.6|      101|      5| 18|      658|     878|1835|  19|  13|       16|      1|           1|   0|          1|
|          682|   1|        0.5|       0|  4|     0|        19|  1.0|      121|      4| 11|      902|    1064|2337|  11|   1|       18|      0|           1|   1|          1|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
only showing top 20 rows

In [8]:
# write - запись в файл 

df.write.mode("overwrite").csv('my_data.csv')

## Чтение данных из источника
Основной метод чтения любых источников

```df = spark.read.format(datasource_type).option(datasource_options).load(object_name)```

+ ```datasource_type``` - тип источника ("parquet", "json", "cassandra") и т. д.
+ ```datasource_options``` - опции для работы с источником (логины, пароли, адреса для подключения и т. д.)
+ ```object_name``` - имя таблицы/файла/топика/индекса

[DataframeReader](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameReader):
+ по умолчанию выводит схему данных
+ является трансформацией (ленивый)
+ возвращает [Dataframe](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame)

### Список (неполный) поддерживаемых источников данных
+ Файлы:
  - json
  - text
  - csv
  - orc
  - parquet
  - delta
+ Базы данных
  - elasticsearch
  - cassandra
  - jdbc
  - hive
  - redis
  - mongo
+ Брокеры сообщений
  - kafka
  

**Библиотеки для работы с источниками должны быть доступны в JAVA CLASSPATH на драйвере и воркерах!**

## Запись данных
Основной метод записи в любые системы

```df.write.format(datasource_type).options(datasource_options).mode(savemode).save(object_name)```

+ ```datasource_type``` - тип источника ("parquet", "json", "cassandra") и т. д.
+ ```datasource_options``` - опции для работы с источником (логины, пароли, адреса для подключения и т. д.)
+ ```savemode``` - режим записи данных (добавление, перезапись и т. д.)
+ ```object_name``` - имя таблицы/файла/топика/индекса

[DataFrameWriter](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameWriter):
+ метод ```save``` является действием
+ позволяет работать с партиционированными данными (parquet, orc)
+ не всегда валидирует схему и формат данных


### Список (неполный) поддерживаемых источников данных
+ Файлы:
  - json
  - text
  - csv
  - orc
  - parquet
  - delta
+ Базы данных
  - elasticsearch
  - cassandra
  - jdbc
  - hive
  - redis
  - mongo
+ Брокеры сообщений
  - kafka
  

**Библиотеки для работы с источниками должны быть доступны в JAVA CLASSPATH на драйвере и воркерах!**

## Функции pyspark.sql.functions

Spark обладает достаточно большим набором встроенных функций, доступных в [pyspark.sql.functions](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#module-pyspark.sql.functions), поэтому перед тем, как писать свою UDF, стоит обязательно поискать нужную функцию в данном пакете.

К тому же, все функции Spark принимают на вход и возвращают [pyspark.sql.Column](https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column), а это значит, что вы можете совмещать функции вместе

In [10]:
import pyspark.sql.functions as F

In [15]:
df = spark.range(0, 10)

my_awesome_col = F.struct(F.col("id")).alias("foo")

#cложная структура файла
df.select(my_awesome_col).printSchema()
df.select(my_awesome_col).show()

root
 |-- foo: struct (nullable = false)
 |    |-- id: long (nullable = false)

+---+
|foo|
+---+
|{0}|
|{1}|
|{2}|
|{3}|
|{4}|
|{5}|
|{6}|
|{7}|
|{8}|
|{9}|
+---+

## Работа с данными

In [16]:
# Удаляем дубликаты с помощью метода distinct(), который возвращает новый df, а не мутирует текущий
# Удаляет все колонки, где значения одинаковые во всех столбцах одинаковые
df.distinct().show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [31]:
# есть более удобный вариант, где можно указать, по каким колонкам будет проводить удаление дубликатов
# уникальность будет определяться по кортежу из subset

#df.dropDuplicates(subset=["battery_power", "dual_sim"]).show()

df.show() # Нам показывает, что в тек. датафрейме остался один столбец ID.
#Поэтому перезапрашиваем df = spark.read.csv('train.csv', header=True, inferSchema=True), Либо JOIN 

# df.dropDuplicates(F.col["battery_power"]).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [32]:
df = spark.read.csv('train.csv', header=True, inferSchema=True)

In [33]:
df.dropDuplicates(subset=["battery_power", "dual_sim"]).show() # +

+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|price_range|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|         1504|   0|        2.3|       1|  1|     0|        64|  0.9|      182|      1|  2|       19|    1923|3059|   6|   5|       10|      0|           1|   0|          3|
|          916|   1|        2.6|       0|  0|     0|        36|  0.3|      195|      4| 12|      188|     992|1470|  13|   0|       14|      0|           1|   0|          0|
|          914|   1|        0.9|       0|  2|     0|         4|  0.8|      100|      2| 12|      191|    1495| 808|  11|   7|        5|      1|           1|   0|          0|
|          946|   0|        2.1|       0|  0|     1|        19|  0.2|      154|      8|  0|      159|     630|2104|   7|   4|       16|      1|           1|   0|          1|
|         1161|   0|        1.3|       1|  0|     1|        21|  0.6|      126|      8| 12|      308|    1169|3336|   6|   4|       14|      1|           0|   1|          3|
|         1181|   0|        2.3|       0| 12|     1|        61|  0.6|      116|      2| 16|      385|     831|2020|   6|   0|       18|      1|           1|   0|          1|
|          959|   1|        1.7|       0| 15|     0|        13|  0.4|      155|      4| 16|       87|     736|3328|  10|   9|       10|      1|           1|   1|          2|
|         1655|   1|        0.5|       1|  6|     1|         4|  0.1|      105|      3| 12|      626|    1348| 673|  10|   3|       12|      1|           0|   0|          0|
|         1384|   1|        2.8|       1| 15|     0|        60|  0.1|       82|      3| 18|      983|    1210|1221|  18|  12|       15|      1|           0|   1|          1|
|         1335|   1|        3.0|       0|  3|     0|        60|  0.8|      180|      2|  4|       83|     559|3615|   5|   2|        9|      1|           0|   0|          3|
|         1659|   0|        2.8|       0|  5|     0|        16|  0.6|       89|      1| 20|      819|     902|3255|  19|  14|        9|      0|           0|   1|          3|
|          503|   0|        2.5|       0|  3|     0|        57|  0.6|      185|      6| 11|      778|    1291| 305|  11|   8|       16|      0|           0|   1|          0|
|          865|   0|        1.2|       1|  8|     0|        59|  0.1|      159|      3|  9|      805|    1804|2361|  16|  11|       19|      1|           0|   1|          2|
|          622|   0|        0.7|       0|  0|     1|         9|  0.3|      127|      2|  0|       98|     511|3916|  13|   1|        5|      1|           0|   1|          2|
|          909|   1|        1.4|       0|  0|     0|        53|  0.3|       82|      8|  0|      635|     973|3187|  12|   9|        4|      1|           0|   0|          2|
|          850|   1|        1.6|       1|  6|     1|        29|  0.5|      133|      5| 19|      404|     642| 593|  19|  17|       10|      1|           0|   1|          0|
|          668|   0|        2.3|       0|  2|     1|        48|  0.3|      114|      1| 19|      195|    1292|1201|  14|  12|        4|      1|           1|   0|          0|
|         1391|   0|        1.4|       0|  2|     1|        36|  0.8|      182|      1|  6|       14|    1256|3139|  14|   7|       14|      1|           1|   0|          2|
|         1960|   1|        2.3|       1|  1|     1|        61|  0.3|       86|      7|  3|      205|    1299|3865|  10|   7|       11|      1|           0|   0|          3|
|         1608|   0|        1.8|       1|  7|     0|        28|  0.4|      183|      2| 13|     1013|    1158| 489|  15|  11|        8|      0|           0|   1|          0|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
only showing top 20 rows

In [35]:
df.dropDuplicates(subset=["battery_power"]).show()

+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|price_range|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|         1645|   1|        1.8|       0|  1|     0|        21|  0.7|      123|      7|  2|      897|    1308| 783|  10|   8|       20|      1|           0|   0|          0|
|         1591|   1|        2.2|       0|  3|     1|        49|  0.4|      154|      6|  7|     1384|    1883|3703|  17|   6|       20|      1|           1|   0|          3|
|          833|   1|        2.2|       0|  4|     0|        27|  0.9|      124|      1|  6|      359|    1395|2150|   9|   5|        7|      0|           1|   1|          1|
|         1829|   1|        0.5|       0|  0|     1|        15|  0.4|      160|      5|  7|      729|    1267|2080|  16|  11|       12|      1|           0|   1|          2|
|         1959|   0|        0.5|       1|  5|     0|        18|  0.7|      191|      6| 20|       65|    1055| 619|   7|   4|        8|      1|           1|   1|          0|
|         1342|   0|        1.0|       0|  0|     1|        31|  0.6|       86|      7|  1|      991|    1638|2746|  15|   5|       10|      1|           1|   0|          3|
|         1127|   1|        2.9|       1|  5|     1|        57|  0.8|      163|      1| 13|      928|    1049|2048|  11|   5|       17|      1|           1|   1|          1|
|         1084|   1|        2.6|       0|  3|     1|        40|  0.9|      107|      3| 11|      322|     771|1945|  15|   4|       10|      1|           1|   0|          1|
|         1395|   0|        1.8|       1|  0|     0|        23|  0.1|      111|      3|  1|      213|     705|2571|  11|   0|       13|      1|           0|   1|          2|
|         1896|   0|        0.5|       1|  8|     1|         7|  0.4|      141|      2| 13|      447|     794|3684|   9|   7|       18|      1|           0|   0|          3|
|         1483|   0|        2.1|       0|  1|     1|        54|  0.2|      176|      7|  2|      531|     758|1851|  15|  13|        2|      1|           1|   0|          1|
|          737|   1|        2.4|       1|  7|     0|        49|  0.6|      193|      4| 16|      781|    1463|2951|   7|   0|       10|      0|           1|   0|          2|
|         1721|   1|        0.5|       1|  4|     1|        33|  0.5|      128|      4|  5|      871|    1048| 707|  19|   2|        5|      1|           1|   1|          0|
|          623|   0|        2.0|       0|  2|     0|         6|  0.1|      127|      3|  4|      144|     672|3657|  17|   3|       19|      1|           1|   0|          2|
|         1522|   1|        0.7|       1|  4|     0|        28|  0.2|      124|      1|  5|      952|    1191|1368|  14|   5|       17|      1|           0|   1|          1|
|         1507|   1|        0.9|       1|  0|     1|        42|  0.4|      123|      5|  0|      682|     888|1486|  15|   3|       19|      1|           0|   0|          1|
|          897|   0|        1.4|       1|  1|     0|        17|  0.4|      171|      1|  2|      547|    1852|2948|  12|   3|        5|      0|           0|   1|          2|
|          858|   0|        2.2|       0|  1|     0|        50|  0.1|       84|      1|  2|      528|    1416|3978|  17|  16|        3|      1|           1|   0|          3|
|         1322|   0|        1.7|       1|  6|     0|         7|  0.8|      140|      3|  9|      177|    1990|1418|  19|  17|       12|      0|           1|   0|          1|
|         1270|   1|        0.6|       1|  2|     1|        32|  0.5|      101|      7|  6|      299|     845|3770|   5|   3|       13|      1|           1|   0|          3|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
only showing top 20 rows

In [36]:
# Удаляем пустые строки. Параметр "all" означает, что будут удалены только те строки, в которых ВСЕ элементы null
# Пакет na - разные методы на пропусками в данных

# .na.drop("all") - удаляем строки, где во всех столбцах значение Null
# если в na передать аргумент any, удалим строки, где встречаются хотя бы раз Null

df \
    .distinct() \
    .na.drop("all") \
    .show()

+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|price_range|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|          596|   0|        2.1|       1|  9|     0|        64|  0.8|      111|      8| 15|      885|    1854|3238|  16|  13|       10|      0|           0|   0|          3|
|         1414|   0|        2.0|       1|  2|     0|        54|  0.8|       99|      7|  3|      262|     829|3799|  17|   7|        7|      1|           0|   1|          3|
|          598|   0|        2.3|       1|  7|     0|        21|  0.7|      196|      2| 10|      680|    1173|3293|   8|   4|        7|      1|           0|   1|          2|
|         1108|   0|        1.0|       0|  3|     0|        49|  0.7|      140|      5| 12|     1298|    1666|3254|  12|   0|       16|      1|           0|   0|          3|
|         1271|   0|        0.5|       1|  2|     0|        54|  0.1|      159|      8|  3|      613|     650| 990|  14|  11|        6|      0|           1|   1|          0|
|         1633|   0|        1.7|       1|  3|     1|        33|  0.9|      111|      2| 19|      146|     906| 511|   9|   0|        7|      1|           1|   0|          0|
|         1134|   1|        0.9|       0|  2|     1|        13|  0.4|       92|      4| 19|       18|     903|3632|  17|   8|       19|      1|           1|   0|          3|
|         1970|   1|        0.5|       1|  0|     1|        15|  1.0|      132|      2|  0|     1399|    1684|1658|  15|   9|       20|      1|           1|   1|          2|
|         1273|   1|        0.7|       0|  1|     0|        23|  0.6|      178|      6| 14|      485|    1399| 558|   8|   5|       13|      1|           0|   0|          0|
|          819|   0|        0.6|       1|  8|     1|        42|  0.9|      188|      6| 20|      339|    1242|1814|   5|   4|       13|      1|           0|   1|          1|
|          664|   0|        1.2|       1|  0|     0|        28|  0.9|      106|      5|  5|      754|    1497|2042|  17|  15|       19|      1|           1|   0|          1|
|         1968|   0|        0.9|       0|  0|     0|        22|  0.8|      115|      3|  7|      861|    1259|2323|   9|   8|        7|      0|           0|   1|          2|
|         1589|   1|        1.4|       0|  3|     1|        26|  0.1|      100|      8| 16|     1673|    1759|3970|  16|   8|       18|      1|           0|   1|          3|
|         1753|   0|        1.2|       0|  8|     1|        12|  0.9|      113|      7| 17|      387|    1595|1445|  17|  16|       12|      1|           1|   1|          1|
|          718|   0|        2.8|       0| 10|     0|        59|  0.8|      113|      6| 13|     1185|    1387|1824|  11|   9|        3|      1|           1|   0|          1|
|         1982|   1|        1.6|       0|  2|     1|        12|  0.2|       80|      5| 20|      287|     593|1824|  13|   3|       14|      1|           1|   1|          1|
|          838|   0|        0.5|       0|  1|     1|        13|  0.1|      196|      8|  4|      984|    1850|3554|  10|   9|       19|      1|           0|   1|          3|
|         1082|   0|        0.8|       0|  0|     0|        38|  0.1|      198|      8|  5|      986|    1191|2337|   6|   1|       17|      0|           1|   1|          2|
|         1934|   1|        2.6|       1|  0|     1|        46|  0.1|      103|      1| 17|      619|    1299|2940|  13|   9|        2|      1|           1|   1|          3|
|         1886|   0|        0.5|       0|  0|     1|        24|  0.4|      112|      3|  1|      809|    1958|1179|  16|   7|       20|      1|           0|   1|          1|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
only showing top 20 rows

In [37]:
# Заполняем пустые значения, потому что 1 + 0 = 1, а 1 + NULL = NULL
# Передаем в na.fill python словарь, в котором указываются значения, которые следует использовать для null

df \
    .distinct() \
    .na.drop("all") \
    .na.fill({'dual_sim': 'Unknown', 'dual_sim': 0,}) \
    .show()

+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|price_range|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|          596|   0|        2.1|       1|  9|     0|        64|  0.8|      111|      8| 15|      885|    1854|3238|  16|  13|       10|      0|           0|   0|          3|
|         1414|   0|        2.0|       1|  2|     0|        54|  0.8|       99|      7|  3|      262|     829|3799|  17|   7|        7|      1|           0|   1|          3|
|          598|   0|        2.3|       1|  7|     0|        21|  0.7|      196|      2| 10|      680|    1173|3293|   8|   4|        7|      1|           0|   1|          2|
|         1108|   0|        1.0|       0|  3|     0|        49|  0.7|      140|      5| 12|     1298|    1666|3254|  12|   0|       16|      1|           0|   0|          3|
|         1271|   0|        0.5|       1|  2|     0|        54|  0.1|      159|      8|  3|      613|     650| 990|  14|  11|        6|      0|           1|   1|          0|
|         1633|   0|        1.7|       1|  3|     1|        33|  0.9|      111|      2| 19|      146|     906| 511|   9|   0|        7|      1|           1|   0|          0|
|         1134|   1|        0.9|       0|  2|     1|        13|  0.4|       92|      4| 19|       18|     903|3632|  17|   8|       19|      1|           1|   0|          3|
|         1970|   1|        0.5|       1|  0|     1|        15|  1.0|      132|      2|  0|     1399|    1684|1658|  15|   9|       20|      1|           1|   1|          2|
|         1273|   1|        0.7|       0|  1|     0|        23|  0.6|      178|      6| 14|      485|    1399| 558|   8|   5|       13|      1|           0|   0|          0|
|          819|   0|        0.6|       1|  8|     1|        42|  0.9|      188|      6| 20|      339|    1242|1814|   5|   4|       13|      1|           0|   1|          1|
|          664|   0|        1.2|       1|  0|     0|        28|  0.9|      106|      5|  5|      754|    1497|2042|  17|  15|       19|      1|           1|   0|          1|
|         1968|   0|        0.9|       0|  0|     0|        22|  0.8|      115|      3|  7|      861|    1259|2323|   9|   8|        7|      0|           0|   1|          2|
|         1589|   1|        1.4|       0|  3|     1|        26|  0.1|      100|      8| 16|     1673|    1759|3970|  16|   8|       18|      1|           0|   1|          3|
|         1753|   0|        1.2|       0|  8|     1|        12|  0.9|      113|      7| 17|      387|    1595|1445|  17|  16|       12|      1|           1|   1|          1|
|          718|   0|        2.8|       0| 10|     0|        59|  0.8|      113|      6| 13|     1185|    1387|1824|  11|   9|        3|      1|           1|   0|          1|
|         1982|   1|        1.6|       0|  2|     1|        12|  0.2|       80|      5| 20|      287|     593|1824|  13|   3|       14|      1|           1|   1|          1|
|          838|   0|        0.5|       0|  1|     1|        13|  0.1|      196|      8|  4|      984|    1850|3554|  10|   9|       19|      1|           0|   1|          3|
|         1082|   0|        0.8|       0|  0|     0|        38|  0.1|      198|      8|  5|      986|    1191|2337|   6|   1|       17|      0|           1|   1|          2|
|         1934|   1|        2.6|       1|  0|     1|        46|  0.1|      103|      1| 17|      619|    1299|2940|  13|   9|        2|      1|           1|   1|          3|
|         1886|   0|        0.5|       0|  0|     1|        24|  0.4|      112|      3|  1|      809|    1958|1179|  16|   7|       20|      1|           0|   1|          1|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
only showing top 20 rows