<a href="https://colab.research.google.com/github/Multik838/-Data-analysis-algorithms/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0%20spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 29 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=09ed83c02d6f1df4f94604a20437ebb22797e086304f5088a352e8c35834db91
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Test").getOrCreate()

In [4]:
spark.version

'3.2.1'

In [11]:
# from google.colab import files
# files.upload()

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
spark

In [22]:
spark.read.format("csv").load('test.csv')

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string]

In [25]:
df = spark.read.format("csv").option('header','true').load('test.csv')

In [26]:
df.show(5)

+---+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+
| id|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|
+---+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+
|  1|         1043|   1|        1.8|       1| 14|     0|         5|  0.1|      193|      3| 16|      226|    1412|3476|  12|   7|        2|      0|           1|   0|
|  2|          841|   1|        0.5|       1|  4|     1|        61|  0.8|      191|      5| 12|      746|     857|3895|   6|   0|        7|      1|           0|   0|
|  3|         1807|   1|        2.8|       0|  1|     0|        27|  0.9|      186|      3|  4|     1270|    1366|2396|  17|  10|       10|      0|           1|   1|
|  4|         1546|   0|        0.5|       1| 18|     1|        25|  0.5|       96|      8| 20|      295|    1752|3893|  10|   0|        7|      1|           1|   0|
|  5|         1434|   0|        1.4|       0| 11|     1|        49|  0.5|      108|      6| 18|      749|     810|1773|  15|   8|        7|      1|           0|   1|
+---+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+
only showing top 5 rows

In [27]:
df.show(1, vertical = True)

-RECORD 0-------------
 id            | 1
 battery_power | 1043
 blue          | 1
 clock_speed   | 1.8
 dual_sim      | 1
 fc            | 14
 four_g        | 0
 int_memory    | 5
 m_dep         | 0.1
 mobile_wt     | 193
 n_cores       | 3
 pc            | 16
 px_height     | 226
 px_width      | 1412
 ram           | 3476
 sc_h          | 12
 sc_w          | 7
 talk_time     | 2
 three_g       | 0
 touch_screen  | 1
 wifi          | 0
only showing top 1 row

In [29]:
df.select("id","sc_h", "sc_w")

DataFrame[id: string, sc_h: string, sc_w: string]

In [30]:
df.select("id","sc_h", "sc_w").show(5)

+---+----+----+
| id|sc_h|sc_w|
+---+----+----+
|  1|  12|   7|
|  2|   6|   0|
|  3|  17|  10|
|  4|  10|   0|
|  5|  15|   8|
+---+----+----+
only showing top 5 rows

In [31]:
#python

df.select(df["id"],df["sc_h"], df["sc_w"]).show(5)

+---+----+----+
| id|sc_h|sc_w|
+---+----+----+
|  1|  12|   7|
|  2|   6|   0|
|  3|  17|  10|
|  4|  10|   0|
|  5|  15|   8|
+---+----+----+
only showing top 5 rows

In [32]:
# Используем пакет function
import pyspark.sql.functions as F

df.select(F.col("id"), F.col("sc_h"), F.col("sc_w")).show(5)

+---+----+----+
| id|sc_h|sc_w|
+---+----+----+
|  1|  12|   7|
|  2|   6|   0|
|  3|  17|  10|
|  4|  10|   0|
|  5|  15|   8|
+---+----+----+
only showing top 5 rows

In [42]:
#Фильтрация по одному условию

In [43]:
df.filter("sc_h >= 16").show(5)

+---+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+
| id|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|
+---+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+
|  3|         1807|   1|        2.8|       0|  1|     0|        27|  0.9|      186|      3|  4|     1270|    1366|2396|  17|  10|       10|      0|           1|   1|
| 15|          630|   0|        1.8|       0|  8|     1|        51|  0.9|      193|      8|  9|     1315|    1323|2751|  17|   6|        3|      1|           1|   0|
| 19|         1231|   1|        1.7|       1|  2|     1|        37|  0.2|      194|      2|  3|       82|    1771|3902|  19|  12|       15|      1|           0|   1|
| 23|         1558|   0|        1.7|       1|  7|     0|        50|  0.1|      115|      2| 10|      777|    1587|1641|  17|   0|        9|      0|           1|   1|
| 24|          533|   1|        0.7|       1| 16|     0|        58|  0.8|       97|      5| 18|      512|    1111|2322|  17|   3|        2|      0|           1|   0|
+---+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+
only showing top 5 rows

In [44]:
df.select("sc_h").filter("sc_h >= 16").show(5)

+----+
|sc_h|
+----+
|  17|
|  17|
|  19|
|  17|
|  17|
+----+
only showing top 5 rows

In [45]:
#Фильтрация по нескольким условиям

In [47]:
df.select("sc_h", "sc_w").filter("sc_h >= 16 and sc_w >= 9").show(5)

+----+----+
|sc_h|sc_w|
+----+----+
|  17|  10|
|  19|  12|
|  16|  11|
|  17|  11|
|  18|  13|
+----+----+
only showing top 5 rows

In [49]:
df\
.select("sc_h", "sc_w")\
.filter("sc_h >= 16")\
.filter("sc_w >= 9")\
.show()

+----+----+
|sc_h|sc_w|
+----+----+
|  17|  10|
|  19|  12|
|  16|  11|
|  17|  11|
|  18|  13|
|  17|  16|
|  17|  14|
|  18|  15|
|  17|  13|
|  18|  10|
|  19|  11|
|  19|  17|
|  18|  14|
|  17|  15|
|  18|  17|
|  16|  10|
|  18|   9|
|  18|  15|
|  19|  15|
|  17|   9|
+----+----+
only showing top 20 rows

In [ ]:
# Методом col()

In [55]:
df\
.select("sc_h", "sc_w")\
.filter(F.col("sc_h") >= 16)\
.filter(F.col("sc_w") >= 9)\
.show()

+----+----+
|sc_h|sc_w|
+----+----+
|  17|  10|
|  19|  12|
|  16|  11|
|  17|  11|
|  18|  13|
|  17|  16|
|  17|  14|
|  18|  15|
|  17|  13|
|  18|  10|
|  19|  11|
|  19|  17|
|  18|  14|
|  17|  15|
|  18|  17|
|  16|  10|
|  18|   9|
|  18|  15|
|  19|  15|
|  17|   9|
+----+----+
only showing top 20 rows

In [56]:
df\
.select("sc_h", "sc_w")\
.filter(F.col("sc_h") == 16)\
.filter(F.col("sc_w") == 9)\
.show()

+----+----+
|sc_h|sc_w|
+----+----+
|  16|   9|
|  16|   9|
+----+----+

In [57]:
df\
.select("sc_h", "sc_w")\
.filter(F.col("sc_h") >= 16)\
.filter(F.col("sc_w") >= 9)\
.show()

+----+----+
|sc_h|sc_w|
+----+----+
|  17|  10|
|  19|  12|
|  16|  11|
|  17|  11|
|  18|  13|
|  17|  16|
|  17|  14|
|  18|  15|
|  17|  13|
|  18|  10|
|  19|  11|
|  19|  17|
|  18|  14|
|  17|  15|
|  18|  17|
|  16|  10|
|  18|   9|
|  18|  15|
|  19|  15|
|  17|   9|
+----+----+
only showing top 20 rows

In [58]:
#Считаем общее кол-во строк
df.count()

1000

In [60]:
#Считаем уникальные строки
df.distinct().count()

1000

In [63]:
#ЛИБО


df.select("sc_h").distinct().count()

15

In [64]:
#Группировка и аггрегация

In [69]:
df.groupBy("sc_h").count().show(5)

+----+-----+
|sc_h|count|
+----+-----+
|   7|   61|
|  15|   72|
|  11|   69|
|   8|   67|
|  16|   65|
+----+-----+
only showing top 5 rows

In [72]:
#сортировка по id


df.groupBy("sc_h").count().orderBy("count").show(5)

+----+-----+
|sc_h|count|
+----+-----+
|  10|   56|
|  18|   59|
|   7|   61|
|   6|   62|
|  19|   64|
+----+-----+
only showing top 5 rows

In [74]:
df.select("id","sc_h", "sc_w").show(5)

+---+----+----+
| id|sc_h|sc_w|
+---+----+----+
|  1|  12|   7|
|  2|   6|   0|
|  3|  17|  10|
|  4|  10|   0|
|  5|  15|   8|
+---+----+----+
only showing top 5 rows

In [94]:
df\
.select("id","sc_h", "sc_w")\
.filter(F.col("sc_h") >= 16)\
.filter(F.col("sc_w") >= 9)\
.groupBy(F.col("id"),F.col("sc_h"),F.col("sc_w"))\
.count()\
.show()

+---+----+----+-----+
| id|sc_h|sc_w|count|
+---+----+----+-----+
|534|  16|  11|    1|
|610|  18|   9|    1|
|876|  18|  15|    1|
|379|  17|  16|    1|
|175|  19|  10|    1|
|321|  18|  13|    1|
|905|  19|  11|    1|
|309|  16|   9|    1|
|408|  17|  15|    1|
|455|  17|   9|    1|
|454|  16|  10|    1|
|716|  18|  14|    1|
|733|  17|  12|    1|
|440|  16|  10|    1|
| 33|  17|  11|    1|
|112|  17|  15|    1|
| 37|  17|  16|    1|
|235|  16|  13|    1|
|552|  17|   9|    1|
|647|  19|  18|    1|
+---+----+----+-----+
only showing top 20 rows

In [98]:
df\
.select("id","sc_h", "sc_w")\
.filter(F.col("sc_h") >= 16)\
.filter(F.col("sc_w") >= 9)\
.groupBy(F.col("id"),F.col("sc_h"),F.col("sc_w"))\
.count()\
.orderBy(F.col("id"))\
.show()

+---+----+----+-----+
| id|sc_h|sc_w|count|
+---+----+----+-----+
|111|  18|  14|    1|
|112|  17|  15|    1|
|114|  18|  17|    1|
|118|  16|  10|    1|
|136|  18|   9|    1|
|144|  18|  15|    1|
|149|  19|  15|    1|
|161|  17|   9|    1|
|162|  19|  14|    1|
|163|  17|  15|    1|
|165|  19|  18|    1|
|175|  19|  10|    1|
|177|  18|   9|    1|
|180|  16|  12|    1|
| 19|  19|  12|    1|
|198|  19|  10|    1|
|202|  16|  14|    1|
|211|  17|  16|    1|
|226|  17|  10|    1|
|235|  16|  13|    1|
+---+----+----+-----+
only showing top 20 rows

In [102]:
#Сортируем по убыванию #desc #asc
df\
.select("id","sc_h", "sc_w")\
.filter(F.col("sc_h") >= 16)\
.filter(F.col("sc_w") >= 9)\
.groupBy(F.col("id"),F.col("sc_h"),F.col("sc_w"))\
.count()\
.orderBy(F.col("id").asc())\
.show()

+---+----+----+-----+
| id|sc_h|sc_w|count|
+---+----+----+-----+
|111|  18|  14|    1|
|112|  17|  15|    1|
|114|  18|  17|    1|
|118|  16|  10|    1|
|136|  18|   9|    1|
|144|  18|  15|    1|
|149|  19|  15|    1|
|161|  17|   9|    1|
|162|  19|  14|    1|
|163|  17|  15|    1|
|165|  19|  18|    1|
|175|  19|  10|    1|
|177|  18|   9|    1|
|180|  16|  12|    1|
| 19|  19|  12|    1|
|198|  19|  10|    1|
|202|  16|  14|    1|
|211|  17|  16|    1|
|226|  17|  10|    1|
|235|  16|  13|    1|
+---+----+----+-----+
only showing top 20 rows

In [105]:
# Переименование
df\
.withColumnRenamed("id", "login")\
.select("login")\
.show(5)

+-----+
|login|
+-----+
|    1|
|    2|
|    3|
|    4|
|    5|
+-----+
only showing top 5 rows

In [107]:
df\
.withColumn("sc_h * 1000",F.col("sc_h") * 100)\
.select("sc_h", "sc_h * 1000")\
.show(5)

+----+-----------+
|sc_h|sc_h * 1000|
+----+-----------+
|  12|     1200.0|
|   6|      600.0|
|  17|     1700.0|
|  10|     1000.0|
|  15|     1500.0|
+----+-----------+
only showing top 5 rows

In [108]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- battery_power: string (nullable = true)
 |-- blue: string (nullable = true)
 |-- clock_speed: string (nullable = true)
 |-- dual_sim: string (nullable = true)
 |-- fc: string (nullable = true)
 |-- four_g: string (nullable = true)
 |-- int_memory: string (nullable = true)
 |-- m_dep: string (nullable = true)
 |-- mobile_wt: string (nullable = true)
 |-- n_cores: string (nullable = true)
 |-- pc: string (nullable = true)
 |-- px_height: string (nullable = true)
 |-- px_width: string (nullable = true)
 |-- ram: string (nullable = true)
 |-- sc_h: string (nullable = true)
 |-- sc_w: string (nullable = true)
 |-- talk_time: string (nullable = true)
 |-- three_g: string (nullable = true)
 |-- touch_screen: string (nullable = true)
 |-- wifi: string (nullable = true)

In [114]:
# Describe как на python

df\
.select(F.col("id"))\
.describe()\
.show()

+-------+-----------------+
|summary|               id|
+-------+-----------------+
|  count|             1000|
|   mean|            500.5|
| stddev|288.8194360957494|
|    min|                1|
|    max|              999|
+-------+-----------------+

In [115]:
spark.stop()